@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*each para tamaño de titulos*/
.titulo-size-xs {
  font-size: 17px; }

.titulo-size-md {
  font-size: 40px; }

.titulo-size-lg {
  font-size: 60px; }

.titulo-size-xl {
  font-size: 100px; }

.color--titulosSec {
  color: #f79305; }

.color--parrafo {
  color: white; }

.color--tituloNav {
  color: #693402; }

body {
  background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-textura-madera-vintage_55716-1138.jpg?size=626&ext=jpg);
  background-size: contain; }

/* Bloque Encabezado */
.encabezado {
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  height: 100%; }

/* etilos nav bootstrap */
.encabezado__audio {
  position: absolute;
  right: 0px;
  opacity: 0.5; }

.encabezado__logo {
  width: 180px;
  height: 140px;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
  z-index: 1; }

.encabezado__navegador {
  margin-top: 20px;
  font-size: 1rem;
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  background-size: 100%;
  height: 100%; }

.container-fluid {
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  background-size: 100vw;
  border-style: none;
  justify-content: space-around;
  height: 100%; }

#navbarNavDropdown {
  flex-direction: column;
  align-items: stretch; }

.imgHome {
  height: 100%; }

li {
  padding: 10px; }

/* alineacion del navegador superior e inferior */
nav ul li {
  width: 100%;
  font-weight: 600;
  display: inline-block;
  position: relative; }

/* submenú */
ul ul {
  position: absolute;
  display: none;
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  background-size: 100vw;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px; }

/* submenú formato */
ul ul li a {
  display: block;
  text-decoration: none;
  color: #693402;
  font-family: 'Josefin Sans', sans-serif; }

/* submenú margenes*/
ul ul li {
  margin-bottom: 15px;
  margin-top: 15px; }

/* submenú display hover*/
ul li:hover ul {
  display: block;
  z-index: 3; }

/* submenú */
nav ul ul li:hover {
  color: white; }

.navbar-collapse {
  height: 100%; }

.navegador__item:hover a {
  color: white;
  font-size: 20px;
  transition: 1s; }

.nav-link {
  color: #693402; }

.nav-item:hover .nav-link {
  color: white !important;
  font-size: 20px;
  transition: 1s; }

/* Se aplicó !important para pisar css bootstrap */
/* estilo titulo principal y animación */
#titulo {
  font-size: 100px;
  font-family: 'Playball', cursive;
  font-style: italic;
  font-weight: lighter;
  color: #f75205;
  padding-top: 0px;
  text-shadow: black 0 -3px;
  animation-name: titulo_promo;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  letter-spacing: 7px; }

h1 {
  color: #f79305;
  font-size: 3rem;
  text-shadow: #1a1919 0 -4px 2px;
  padding: 1rem;
  margin: 2rem; }

h5 {
  color: #f79305;
  font-size: 2rem;
  text-shadow: #1a1919 0 -4px 2px; }

/* alinecion carousel img principal */
#carouselExampleCaptions {
  width: 100%;
  height: 100vh;
  margin: 0px; }

.carousel-inner {
  height: 100%; }

.carousel-item {
  height: 100%; }

.imgPrincipal {
  width: 100%;
  height: auto; }

.imgSecundarias {
  border-radius: 10%;
  width: 20vw;
  height: 40vh;
  margin: 10px; }

.imgCabañas {
  border-radius: 30%;
  width: 250px;
  height: 130px;
  margin: 20px;
  opacity: 1;
  transition: 2s;
  border-style: solid; }

/* transformación img cabañas hover */
.imgCabañas:hover {
  height: 250px;
  width: 350px; }

/* alineción elementos "cabañas" */
.gridCabañas section div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

/* fondo y sobmbra elementos "cabañas" */
.gridCabañas section {
  width: 100%;
  box-shadow: 2px 2px 5px #999;
  background-image: url(https://previews.123rf.com/images/peekeedee1/peekeedee11605/peekeedee1160500263/55947057-fondo-de-la-pared-de-madera-o-de-la-textura-patr%C3%B3n-natural-de-la-pared-de-madera-de-textura-de-fondo.jpg);
  background-size: cover; }

/* estilo parrafos "Cabañas */
.gridCabañas section p {
  color: black;
  text-shadow: none; }

.gridCabañas section h2 {
  font-size: 50px; }

/* alineación img cabañas home */
.flexImagHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/* alineación y margenes secciones home */
#seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%; }
  #seccion1 div {
    display: inline;
    position: absolute; }

#seccion1 div img {
  width: 80vw;
  height: 65vh;
  border-radius: 50%;
  justify-content: center; }

/* Bloque Sección Nosotros  */
.nosotros {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%; }

.nosotros__titulo {
  color: #f7d305;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  text-shadow: black 0 -2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1.5; }

/* Bloque Promociones  */
.promociones {
  width: 100%; }

.promociones__titulo {
  color: #f7d305;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  text-shadow: black 0 -2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }

.promociones__img {
  width: 100%;
  height: 40vh;
  animation-name: promo;
  animation-iteration-count: infinite;
  animation-duration: 2s; }

.promociones__enlace {
  display: inline;
  text-align: center;
  width: auto;
  font-family: 'Exo', sans-serif;
  text-shadow: black 0 -2px;
  margin-top: 20px;
  font-size: 20px; }

/* Bloque Comentario  */
.comentario {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px; }

.comentario__textarea {
  width: 50vw;
  height: 20vh;
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  color: #693402;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px; }

.comentario__input {
  width: 10vw;
  height: auto;
  margin-top: 20px;
  color: white;
  border: solid 1px yellow;
  border-radius: 5%;
  background: #693d00;
  background: linear-gradient(90deg, #693d00 0%, #af350c 47%, #381d01 100%);
  display: inline-block;
  font-size: 1rem; }

.comentario__input:hover {
  opacity: .7; }

/* Bloque Pie de Página */
.piePagina {
  background-color: black;
  padding-top: 5px; }

.navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.navegador__item {
  list-style: none; }

.navegador__enlace {
  width: 100%;
  height: 100%;
  color: #693402;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  list-style: none;
  font-weight: bolder;
  text-decoration: none; }

.formSuscripcion {
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white; }

.piePagina__tarjetas {
  display: inline; }

.tarjetas {
  display: inline;
  color: white;
  margin-left: 1rem;
  font-size: 50px;
  text-align: left;
  padding: 0;
  margin: 0 0 0 10px; }

.piePagina__redes {
  display: inline; }

.piePagina__suscripción {
  text-align: center; }

/* Bloque iconos redes */
.redes {
  width: 100%;
  text-align: end;
  height: 1rem;
  margin-right: 4rem;
  display: inline;
  position: absolute;
  right: -50px; }

.redes__enlaces {
  color: white;
  font-size: 50px; }

.redes__enlaces--linkedin {
  font-size: 25px;
  padding-left: 10px;
  color: white; }

/* posición icono teléfono fijado */
.redes__enlaces--telefonoHome {
  position: fixed;
  right: 25px;
  bottom: 100px;
  font-size: 50px;
  animation-name: promo;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  color: white; }

.piePagina__derechos {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7rem;
  color: white; }

/* estilos titulos secundarios */
.tituloSecundario {
  color: #f7d305;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  text-shadow: black 0 -2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2rem; }

.parrafo, .nosotros__parrafo {
  display: inline;
  text-align: justify;
  width: 100%;
  color: white;
  font-family: 'Exo', sans-serif;
  text-shadow: black 0 -2px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px; }

/* animación img promo  */
@keyframes promo {
  0% {
    transform: skewX(0deg); }
  25% {
    transform: skewX(10deg); }
  50% {
    transform: skewX(0deg); }
  75% {
    transform: skewX(-10deg); }
  100% {
    transform: skewX(0deg); } }

/* animación titulo promo */
@keyframes titulo_promo {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: .3; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

#principal .promociones h2 {
  animation-name: titulo_promo;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

.servicios {
  /* margin-right: 60px;
    margin-left: 60px; */
  display: flex;
  justify-content: flex-start; }

.iconoServicios {
  font-size: 60px;
  display: inline-block; }

/* display descripcion servicios */
.alineacionServicios {
  display: inline-block; }

.descripcionServicios {
  width: 80%;
  color: white;
  font-family: 'Exo', sans-serif;
  text-shadow: black 0 -2px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-align: justify; }

.telefono {
  display: block;
  margin: auto; }

/* estilo y tamaño icono de teléfono "Ubicación" */
.iconoTelefono {
  font-size: 70px;
  color: white;
  text-align: center; }

fieldset {
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  padding-left: 100px; }

.simuladorTarifas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .simuladorTarifas h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #693402; }
  .simuladorTarifas .opcion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #693402;
    padding: 0px; }
  .simuladorTarifas .enviarTarifa {
    display: inline-block;
    width: 150px;
    height: auto;
    color: white;
    background: #693d00;
    background: linear-gradient(90deg, #693d00 0%, #af350c 47%, #381d01 100%);
    display: block;
    font-size: 20px;
    padding: 10px;
    border: outset #a54d2a;
    width: 13vw;
    margin-top: 20px;
    color: white; }

form {
  width: 70%;
  padding: 0px; }

.form-select {
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  border-style: solid;
  font-size: 25px;
  margin-bottom: 20px;
  color: #693402;
  border: outset #a54d2a;
  width: 40vw; }

.precioSimulado {
  color: #693402;
  text-shadow: black 0 -2px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  border: solid 2px;
  padding: 10px;
  margin-top: 20px; }

/* formato formulario "contacto */
.parrafo .contacto, .nosotros__parrafo .contacto {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #693402;
  text-shadow: none;
  font-weight: bold; }

/* margenes input "contacto */
/* Bloque opciones formulario "contacto" */
.datos {
  display: block;
  margin-bottom: 1rem; }

.datos__titulo {
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  color: #693402;
  font-weight: lighter; }

.datos__input {
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  background-size: 100vw; }

/* dimension textarea formulario "contacto */
.datos__textarea {
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  background-size: 100vw;
  width: 100%;
  height: 30vh;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  color: #693402;
  opacity: .7; }

/* dimension y estilo boton formulario "contacto" */
.contacto__boton {
  width: 20vw;
  height: auto;
  margin-top: 20px;
  color: white;
  border: solid 1px yellow;
  border-radius: 5%;
  background: #693d00;
  background: linear-gradient(90deg, #693d00 0%, #af350c 47%, #381d01 100%);
  display: inline-block;
  font-size: 1rem; }

.contacto__boton:hover {
  opacity: .7; }

/* focus input ingreso datos contacto */
.datos__input:focus {
  transform: scale(1.5); }

/* aplicando flex "Servicios" */
.flexServicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 300px; }

/* aplicando flex "Tarifas" */
.flexTarifa {
  padding: 20px 130px 20px 130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 5%; }

/* aplicando flex "Tarifas" */
.flexOpcion {
  display: inline;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 550px;
  margin: 0px;
  padding: 0; }

.flexOpcion input {
  border: outset #a54d2a; }

/* aplicando flex "Tarifas" */
.opcion div {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flexNavegador li {
  width: auto; }

/* Bloque elementos "ubicación"  */
.ubicación {
  padding: 40px;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr; }

.ubicación__mapa {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%; }

.ubicacion__texto {
  width: 100%;
  height: 100%; }

.alineaciónDescripción {
  display: flex;
  margin: 1rem; }

.parrafo--ubicación {
  display: inline;
  text-align: justify;
  width: 100%;
  color: white;
  font-family: 'Exo', sans-serif;
  text-shadow: black 0 -2px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  margin: 20px;
  padding: 1rem; }

.ubicacion__enlace {
  display: inline;
  text-align: center;
  width: auto;
  color: white;
  font-family: 'Exo', sans-serif;
  text-shadow: black 0 -2px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px; }

/* Bloque elementos "ubicación"  */
.texto {
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 100%; }

.texto__titulo {
  color: #f7d305;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-shadow: black 0 -2px;
  text-align: center; }

/* tamaño iconos auto-bus "ubicacion" */
.texto__icono {
  color: white;
  font-size: 60px;
  margin: 20px; }

.icono_enlaces {
  color: white;
  font-size: 30px; }

.borde {
  border-radius: 5%;
  width: 100%;
  height: auto; }

/* alineación formulario contacto */
.contacto {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: repeat(3, 50px) 100px 30px 30px;
  width: 50vw;
  height: auto;
  justify-content: center;
  justify-items: stretch;
  align-content: stretch;
  border-radius: 5%; }
  .contacto button {
    justify-self: self-end;
    align-self: stretch; }

.flexContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .flexContacto .formularioAlineción {
    display: inline-block; }
    .flexContacto .formularioAlineción label {
      display: flex;
      flex-direction: column; }
    .flexContacto .formularioAlineción .parrafo, .flexContacto .formularioAlineción .nosotros__parrafo {
      display: inline; }

/* agrupación y alineación mediante Grid cuerpo del Home */
#principal {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-areas: "imagen imagen imagen imagen" "nosotros nosotros relleno1 relleno1" "relleno2 relleno2 cabañas cabañas" "video video relleno3 relleno3" "promo promo promo promo" "comentario comentario comentario comentario";
  grid-template-rows: 90vh auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 60px;
  align-items: flex-end; }

h1 {
  font-family: 'Otomanopee One', sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  z-index: 2; }

#principal {
  grid-area: imagen; }
  #principal .container-fluid {
    grid-area: imagen;
    padding: 0;
    height: 100%; }

.nosotros {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  grid-area: nosotros;
  padding: 20px;
  margin-top: 40px; }

.nosotrosRelleno {
  grid-area: relleno1;
  height: auto; }
  .nosotrosRelleno img {
    width: 100%;
    height: max-content;
    padding-bottom: 60px;
    padding-right: 40px;
    opacity: .8;
    border-radius: 30%; }

#principal .seccion3 {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: cabañas;
  padding: 20px;
  margin-right: 2rem;
  padding-bottom: 0; }

.cabañasRelleno {
  grid-area: relleno2;
  height: auto; }
  .cabañasRelleno img {
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-bottom: 0;
    opacity: .8; }

#principal .promociones {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: promo; }

/* Bloque Sección video  */
.video {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: video;
  margin-top: 100px;
  margin-bottom: 80px;
  align-items: center;
  padding-bottom: 0; }

.videoRelleno {
  grid-area: relleno3;
  height: auto; }
  .videoRelleno img {
    width: 100%;
    height: max-content;
    padding: 80px;
    padding-bottom: 30px;
    opacity: .8; }

.video__titulo {
  color: #f7d305;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  text-shadow: black 0 -2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2rem; }

.video__reproductor {
  display: block;
  margin: auto;
  width: 45vw;
  height: 50vh; }

.comentario {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  /* padding-top: 50px; */
  grid-area: comentario; }

/* formato y acordeon "Cabañas" */
.gridCabañas {
  padding: 2rem;
  /* Aplicando for en scss */ }
  .gridCabañas .seccion1 {
    border: solid 2px burlywood;
    border-radius: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    grid-area: cabaña1;
    margin: 0; }
  .gridCabañas .seccion2 {
    border: solid 2px burlywood;
    border-radius: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    grid-area: cabaña1;
    margin: 0; }
  .gridCabañas .seccion3 {
    border: solid 2px burlywood;
    border-radius: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    grid-area: cabaña1;
    margin: 0; }
  .gridCabañas .seccion4 {
    border: solid 2px burlywood;
    border-radius: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    grid-area: cabaña1;
    margin: 0; }

.accordion-item, .fondoMenuTarifa {
  background-image: url(https://previews.123rf.com/images/peekeedee1/peekeedee11605/peekeedee1160500263/55947057-fondo-de-la-pared-de-madera-o-de-la-textura-patr%C3%B3n-natural-de-la-pared-de-madera-de-textura-de-fondo.jpg);
  background-size: contain; }

.accordion-button {
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #f79305 0%, #d7d78e 47%, #ff9a00 100%);
  font-size: 25px;
  color: #693402; }

.accordion-header {
  text-align: center; }

.accordion-collapse {
  height: 100%; }

.accordion-collapse .imgCentrado {
  height: 100%;
  text-align: center; }

.accordion-body p {
  display: inline;
  text-align: justify;
  width: 100%;
  color: black;
  font-family: 'Exo', sans-serif;
  text-shadow: white 0 -2px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px; }

/* aplicando media querie Home  */
@media (max-width: 1024px) {
  #principal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px; }
  .encabezado {
    display: flex;
    flex-direction: column; }
    .encabezado .encabezado__navegador {
      margin-bottom: 10px; }
  .seccion3 {
    padding: 0;
    margin: 0; }
  .flexNavegador {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70%; }
  .navegador {
    justify-content: space-around; }
  #principal .video {
    margin-top: 80px; }
  .imgCabañas:hover {
    width: 250px; }
  .contacto {
    width: 80vw; }
  h1 {
    font-size: 3rem; }
  .ubicación {
    display: flex;
    flex-direction: column; }
    .ubicación .ubicación__mapa {
      margin: 0;
      margin-bottom: 20px; }
  .comentario__input {
    margin-bottom: 20px; }
  .datos__input:focus {
    transform: scale(1.2); } }

@media (max-width: 780px) {
  #principal, .gridCabañas {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    row-gap: 0px; }
  #carouselExampleCaptions {
    height: 75vh; }
  #principal .seccion6 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .7rem; }
  .flexNavegador {
    flex-direction: row;
    padding: 0; }
  .encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
  .encabezado__audio {
    display: none; }
  #principal .seccion {
    margin-bottom: 0px; }
  #principal #seccion1 {
    width: 200px;
    height: 280px;
    margin-top: 20px; }
  #principal .video iframe {
    width: 90%; }
  #principal .promociones .parrafo, #principal .promociones .nosotros__parrafo {
    font-size: 1rem; }
  .servicios {
    /* margin-right: 60px;
    margin-left: 60px; */
    display: flex;
    justify-content: center; }
  .comentario {
    margin-top: 20px; }
  .redes__enlaces, .tarjetas {
    font-size: 2rem;
    width: 100%; }
  .redes__enlaces--linkedin {
    font-size: 15px;
    padding-left: 5px; }
  .contacto {
    width: 90vw; }
  .flexContacto h2 {
    font-size: 2rem;
    padding: 1rem; }
  .flexContacto div .tituloSecundario {
    margin: 2rem;
    padding: 0; }
  h1 {
    font-size: 2rem; }
  .simuladorTarifas form {
    align-items: center;
    width: 80%; }
  .simuladorTarifas h3 {
    font-size: 1rem;
    width: auto; }
  .simuladorTarifas .form-select {
    width: 70%;
    font-size: .7rem; }
  .simuladorTarifas .enviarTarifa {
    font-size: .7rem; }
  .simuladorTarifas h2 {
    font-size: 2rem; }
  .redes__enlaces--telefonoHome {
    font-size: 2rem; }
  .precioSimulado {
    font-size: 1rem; }
  .tituloSecundario {
    font-size: 2rem; }
  .flexTarifa {
    padding: 0;
    margin: 0; }
  .opcion {
    align-items: center;
    width: 100%; }
    .opcion .flexOpcion {
      width: 100%; }
  .nosotrosRelleno, .cabañasRelleno, .videoRelleno {
    display: none; }
  .datos__titulo {
    font-size: 1rem; }
  .datos__textarea {
    font-size: 1rem; }
  .promociones {
    margin-top: 50px; }
  #principal .seccion3 {
    margin: 0; } }

@media (max-width: 582px) {
  #principal .video {
    border-top: none;
    border-bottom: none; }
  #principal .seccion3 {
    border-left: none; }
  #principal .nosotros {
    border-right: none; }
  .simuladorTarifas form {
    align-items: center; }
  .simuladorTarifas h3 {
    font-size: 1rem;
    width: 100%;
    width: auto; }
  .simuladorTarifas .enviarTarifa {
    font-size: .5rem;
    padding: 0;
    margin: 0;
    height: 30px; }
  .comentario__textarea {
    font-size: .5rem; }
  .comentario__input {
    font-size: .5rem;
    padding: 0; }
  .nosotros__parrafo {
    font-size: 1rem; }
  h1 {
    font-size: 1.5rem; }
  .imgCabañas:hover {
    width: 300px; }
  .flexTarifa {
    padding: 0;
    margin: 0; }
  .navegador {
    justify-content: space-around; }
  .servicios {
    justify-content: flex-start;
    padding-left: 5rem;
    padding-right: 2rem; }
    .servicios .parrafo, .servicios .nosotros__parrafo {
      font-size: 1rem;
      padding-right: 30px; }
  #carouselExampleCaptions {
    height: 60vh; }
  #principal .seccion3 {
    margin: 2rem; }
  .contacto {
    border-radius: 0; } }

@media (max-width: 480px) {
  .alineaciónDescripción {
    display: flex;
    flex-direction: column; }
  .promociones__img {
    height: 20vh; }
  .piePagina {
    width: 100%; }
  .navegador {
    padding-left: 0;
    width: 100%;
    justify-content: center; }
    .navegador .navegador__enlace {
      width: 100%;
      padding: 0px;
      font-size: .7rem; }
  #carouselExampleCaptions {
    height: 50vh; }
  .parrafo--ubicación, h3.parrafo, h3.nosotros__parrafo {
    font-size: 1rem; }
  .contacto__boton {
    font-size: .7rem; }
  .accordion-body p {
    font-size: 1rem; }
  .accordion-button {
    font-size: 1.5rem; }
  h2.precioSimulado {
    font-size: 1.3rem;
    text-shadow: none; }
  .iconoTelefono {
    font-size: 50px; }
  .nosotros__parrafo {
    font-size: .6rem; }
  .video iframe {
    height: 250px; }
  .servParrafo {
    padding: 1rem; }
  .flexTarifa {
    border-radius: 0; }
  .imgCabañas:hover {
    width: 270px; } }

@media (max-width: 387px) {
  .navegador {
    width: 100%;
    justify-content: center; }
    .navegador .navegador__enlace {
      width: 100%;
      padding: 0px; }
    .navegador .navegador__item {
      width: 70%;
      font-size: .3rem;
      padding-left: 7px;
      margin: 0; }
  .accordion-button {
    font-size: 1rem; }
  .imgCabañas {
    width: 80%; }
  .imgCabañas:hover {
    width: 225px;
    height: 200px; }
  .formSuscripcion {
    height: 30px;
    font-size: .7rem;
    font-weight: lighter; }
  .redes__enlaces {
    font-size: 2px; }
  .redes__enlaces, .tarjetas {
    font-size: 0.7rem;
    width: 100%; }
  .contacto__boton {
    font-size: .7rem;
    padding: 0;
    height: 30px; }
  .piePagina__derechos {
    font-size: .5rem; }
  .redes__enlaces--telefonoHome {
    font-size: 1rem; }
  .nosotros__parrafo {
    font-size: .8rem; }
  .nosotros__titulo, .video__titulo, .promociones__titulo {
    font-size: 2rem; }
  .servicios .parrafo, .servicios .nosotros__parrafo {
    font-size: .8rem; }
  h1 {
    font-size: 1.3rem; } }

@media (max-width: 387px) {
  h1 {
    font-size: 1.1rem;
    font-weight: bolder;
    text-shadow: #1a1919 0 -2px 2px; }
  .video iframe {
    height: 170px; }
  .seccion3 .carousel img {
    height: 220px;
    margin-bottom: 10px; } }
